html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {

  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; 


}



 /* --- 1: BANNER --- */

/* ##### ANIMATIONS ##### */

@keyframes blurin-intro {
  from { filter: blur(12.5px); }
  to   { filter: blur(0px); }
}

 #banner-section {

  width: 100vw;
  height: 100vh;

}

.logo {

  max-width: 100%;
  animation: blurin-intro 1s, spacing-intro 1.25s;
}
.logo:start {
  max-width: 10%;
}

@media screen and (max-width: 1680px) {

  html {
    font-size: 11pt; } 

}

 /* --- 2: GAMEPLAY --- */

 #gameplay-section {

  width: 100vw;
  height: 150vh;

}

.gameplay {

  width: 100%;
  overflow: visible;
}

.gameplay img {
  width: 100%;
  max-width: 720px;
  position: relative; /* or absolute */
  box-shadow: -5px 8px 50px 10px #555;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(-2deg);
}

.gameplay div {

  text-align: left;
  width: 40%;

}

span {

  width: 3%;
  height: 3%;

}

 /* --- 99: DASE --- */

/* --- 3: LINKS --- */


#links-section {

  width: 100vw;
  height: 25vh;

}

.icon {
  transition: transform .2s; 
}
.icon:hover {
  transform: rotate(-5deg) scale(1.2);
}

.flex-center {

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.flex-updown {

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

 /* --- 99: DASE --- */

 h1 {
   text-align: left;
   font-size: 30px;
   font-weight: bold;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  text-align: left;
  font-size: 25px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  text-align: left;
  font-size: 20px;
  font-weight: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html body {
  overflow: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
::-webkit-scrollbar {
  width: 0px; 
  background: transparent;
}